@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family:
    "Montserrat" "Rubik",
    sans-serif;
  overflow: hidden;
}

/* @keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-right-enter-active {
  animation: slideRight 2s forwards;
}

.slide-right-leave-active {
  animation: slideLeft 0.5s forwards;
} */
